<!-- <div class="container">
    <div class="tweet-box">
        <input type="text" class="input-style" placeholder="Title">
    </div>
    <div class="tweet-box">
        <textarea class="tweet-input" placeholder="Blog"></textarea>
        <button class="button-submit active">Submit</button>
    </div>
</div> -->

<div *ngFor="let blog of data | reverse">
        <div class="container justify-content-center">   
            <div class="card col-sm-8" style="padding: 20px">
                <div class="card-body">
                    <h5 class="card-title">{{ blog.title}}</h5>
                    <h6 *ngIf="blog.status === 1"  class="card-subtitle mb-2 valid">Approved</h6>
                    <h6 *ngIf="blog.status === 2"  class="card-subtitle mb-2 pending">Pending</h6>
                    <h6 *ngIf="blog.status  === 3"  class="card-subtitle mb-2 invalid">Declined</h6>
                    <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                    <p href="" class="card-text">{{blog.content}}</p>
                    <button (click)="deleteBlog(blog.id)" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</button>
                    
                </div>
            </div>
        </div>
        
    </div>
    
    
    
    
   