<div *ngFor="let blog of data| reverse">
    
    <div class="container justify-content-center" *ngIf="blog.status === 2">   
        <div class="card col-sm-8" style="padding: 20px">
            <div class="card-body">
                <h4 class="card-title">{{ blog.title}}</h4>
                <h6 class="card-subtitle mb-2">Submitted by: {{getUser(blog.userId) }}</h6>
                <h6 *ngIf="blog.status === 1"  class="card-subtitle mb-2 valid">Approved</h6>
                <h6 *ngIf="blog.status === 2"  class="card-subtitle mb-2 pending">Pending</h6>
                <h6 *ngIf="blog.status  === 3"  class="card-subtitle mb-2 invalid">Declined</h6>
                <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                <p href="" class="card-text">{{blog.content}}</p>
                <button (click)="approveBlog(blog.id, blog.title, blog.content, blog.dateSubmitted, blog.userId, blog.comment)" style="margin: 10px" class="btn btn-success">Approve</button>
                <button (click)="rejectBlog(blog.id, blog.title, blog.content, blog.dateSubmitted, blog.userId, blog.comment)" style="margin: 10px" class="btn btn-danger">Reject</button>         
                <button (click)="addComment(modalcomment, blog)" style="margin: 10px" class="btn btn-info">Add Comment</button>
            </div>
        </div>
    </div>   
</div>

<div *ngIf="empty">
    <div class="container justify-content-center">   
        <div class="card col-sm-8" style="padding: 20px">
            <div class="card-body">
                No Pending Blogs                   
            </div>
        </div>
    </div>
</div>


<ng-template #modalcomment let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Comment</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
        <div class="modal-body">          
            <div class="tweet-box">
                <textarea class="tweet-input" [formControl]="comment" placeholder="Comment"></textarea> 
            </div>
        </div>
        <div class="modal-footer"> 
            <button type="submit" (click)="submitComment()" class="button-submit active">Save</button>   
        </div>
  </ng-template>