<!-- <div class="container">
    <div class="tweet-box">
        <input type="text" class="input-style" placeholder="Title">
    </div>
    <div class="tweet-box">
        <textarea class="tweet-input" placeholder="Blog"></textarea>
        <button class="button-submit active">Submit</button>
    </div>
</div> -->

<div *ngFor="let blog of data| reverse">
    
    <div class="container justify-content-center" *ngIf="blog.userId === id && blog.status != 2">   
        <div class="card col-sm-8" style="padding: 20px">
            <div class="card-body">
                <h5 class="card-title">{{ blog.title}}</h5>
                <h6>Status: </h6>
                <h6 *ngIf="blog.status === 1"  class="card-subtitle mb-2 valid">Approved</h6>
                <h6 *ngIf="blog.status === 2"  class="card-subtitle mb-2 pending">Pending</h6>
                <h6 *ngIf="blog.status  === 3"  class="card-subtitle mb-2 invalid">Rejected</h6>
                <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                <p href="" class="card-text" >{{blog.content}}</p>
                <button (click)="deleteBlog(blog.id)" style="margin: 10px" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</button>
                <button (click)="editBlog(blog.title, blog.content, content,blog.id)" *ngIf="blog.status != 1" style="margin: 10px" class="btn btn-success"><i class="fa fa-edit"></i> Edit</button>
            </div>
        </div>
    </div>
    
</div>
<div *ngIf="empty">
    <div class="container justify-content-center">   
        <div class="card col-sm-8" style="padding: 20px">
            <div class="card-body">
                No Blogs Available                    
            </div>
        </div>
    </div>
</div>


<div id="floating-button" (click)="newBlog(content)" data-toggle="tooltip" data-placement="left" data-original-title="Create">
    <p class="plus">+</p>   
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Blog</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form  [formGroup]="blogForm">
        <div class="modal-body">
            <div class="tweet-box">
                <input [ngClass]="{'error': (blogForm.get('title').touched 
                || blogForm.get('title').dirty) && !blogForm.get('title').valid}" type="text" formControlName="title" class="input-style" placeholder="Title">
                <span class="error-message"  *ngIf="blogForm.get('title').touched 
                || blogForm.get('title').dirty">
                    <div *ngIf="!blogForm.get('title').valid">
                        Title is required.
                    </div>
                </span>
            </div>
            
            <div class="tweet-box">
                <textarea [ngClass]="{'error': (blogForm.get('blog').touched 
                || blogForm.get('blog').dirty) && !blogForm.get('blog').valid}"  class="tweet-input" formControlName="blog" placeholder="Blog"></textarea> 
            </div>
            <div class="error-message" *ngIf="(blogForm.get('blog').touched 
                || blogForm.get('blog').dirty) && !blogForm.get('blog').valid">
                Blog is required.
            </div>
        </div>
        <div class="modal-footer">    
            <button type="button" (click)="saveToDrafts()" class="button-submit active" *ngIf="(blogForm.get('title').valid || blogForm.get('blog').valid ) && ((blogForm.get('blog').touched 
            || blogForm.get('blog').dirty) || (blogForm.get('title').touched 
            || blogForm.get('title').dirty))">Save to Drafts</button> 
            <button type="submit" *ngIf="!edit" (click)="submitBlog()" class="button-submit active">Submit</button>
            <button type="submit" *ngIf="edit"  (click)="saveBlog()" class="button-submit active">Edit</button>      
        </div>
    </form> 
  </ng-template>

  <!-- <ng-template #comment let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Blog</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form  [formGroup]="blogForm">
        <div class="modal-body">
            <div class="tweet-box">
                <input [ngClass]="{'error': (blogForm.get('title').touched 
                || blogForm.get('title').dirty) && !blogForm.get('title').valid}" type="text" [(ngModel)]="title" formControlName="title" class="input-style" placeholder="Title">
                <span class="error-message"  *ngIf="blogForm.get('title').touched 
                || blogForm.get('title').dirty">
                    <div *ngIf="!blogForm.get('title').valid">
                        Title is required.
                    </div>
                </span>
            </div>
            
            <div class="tweet-box">
                <textarea [ngClass]="{'error': (blogForm.get('blog').touched 
                || blogForm.get('blog').dirty) && !blogForm.get('blog').valid}" [(ngModel)]="blog" class="tweet-input" formControlName="blog" placeholder="Blog"></textarea> 
            </div>
            <div class="error-message" *ngIf="(blogForm.get('blog').touched 
                || blogForm.get('blog').dirty) && !blogForm.get('blog').valid">
                Blog is required.
            </div>
        </div>
        <div class="modal-footer">    
            <button type="button" (click)="saveToDrafts()" class="button-submit active" *ngIf="title || blog">Save to Drafts</button> 
            <button type="submit" (click)="submitBlog()" class="button-submit active">Submit</button>   
        </div>
    </form> 
  </ng-template> -->