<!-- <div style="margin: 20px;" >
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    
                    <div class="col-sm-6 col-md-8">
                        <h4>
                            Bhaumik Patel</h4>
                        <small><cite title="San Francisco, USA">San Francisco, USA <i class="glyphicon glyphicon-map-marker">
                        </i></cite></small>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i>email@example.com
                            <br />
                            <i class="glyphicon glyphicon-globe"></i><a href="http://www.jquery2dotnet.com">www.jquery2dotnet.com</a>
                            <br />
                            <i class="glyphicon glyphicon-gift"></i>June 02, 1988</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="container justify-content-center">   
    <div class="card col-sm-8" style="padding: 20px">
        <div class="card-body">
            <h5 class="card-title">{{ name }}</h5>
            <small>{{username}}</small>
            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
            <p href="" class="card-text">{{ email }}</p>
            <p class="card-text" *ngIf="role == 1"> Role: Admin </p>
            <p class="card-text" *ngIf="role == 2"> Role: User </p>
            <button class="btn btn-primary" (click)="openModalChange(changepw)">Change Password</button>
        </div>
    </div>
    
</div> 

<ng-template #changepw let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Change Password</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
        <div class="modal-body">  
            <form [formGroup]="changePassForm">
                <div class="tweet-box">
                    <input type="password" [ngClass]="{'error': (changePassForm.get('password').touched 
                    || changePassForm.get('password').dirty) && !changePassForm.get('password').valid}" formControlName="password" class="input-style" placeholder="Password">
                    <span class="error-message"  *ngIf="changePassForm.get('password').touched 
                    || changePassForm.get('password').dirty">
                        <div *ngIf="!changePassForm.get('password').value ? setError(true) : setError(false)">
                            Password is required.
                        </div>
                        <div *ngIf="!changePassForm.get('password').valid && error != true">
                            Password must atleast 6 characters.
                        </div>
                    </span>
                </div>
                <div class="tweet-box">
                    <input type="password" formControlName="confirmpass" class="input-style" placeholder="Confirm Password">
                    <span class="error-message"  *ngIf="changePassForm.get('confirmpass').touched 
                    || changePassForm.get('confirmpass').dirty">
                        <div *ngIf="!changePassForm.get('confirmpass').value ? setError(true) : setError(false)">
                            Confirm Password is required.
                        </div>
                        <div *ngIf="changePassForm.get('password').value != changePassForm.get('confirmpass').value  && error != true">
                            Passwords are not the same.
                        </div>
                    </span>
                </div>   
                <div class="modal-footer">    
                    <button type="button" (click)="savePass()" class="button-submit active">Save</button> 
                </div> 
            </form>    
        </div>

  </ng-template>